body{
    background-color: rgb(235, 250, 151);
}

h1{
    text-align: center;
    color:purple;
}

p{
    font-size: 10px;
}

.name{
    color: blue;
}
i:nth-child(odd) {
    background: red;
  }
i:nth-child(even) {
    background:green;
  }
.age{
    color: rgb(182, 59, 59);
}
img{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
